<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<title>{{title}}</title>

		<style>
		canvas {
			display: block;
			margin: 0 auto;
		}
		</style>
	</head>
	<body>
		{{{body}}}

		
	</body>
</html>
